VITE_SUPABASE_URL=https://vdobtwaxyalzcyuwnjgo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZkb2J0d2F4eWFsemN5dXduamdvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgwMjczMTMsImV4cCI6MjEwMzYwMzMxM30.qBR1AxX0KuDKut-a8VcfK0qaLUue4THiHe_-4adzPps

